<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Responsável</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="salvar(); $event.preventDefault()">
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input  formControlName="nome" type="text"></ion-input>
      <div *ngIf="formGroup.controls.nome.errors">
        <p style="color:brown" *ngIf="formGroup.controls.nome.errors.required">Campo obrigatório</p>
        <p style="color:brown" *ngIf="formGroup.controls.nome.errors.minlength">Possui menos que 3 caracteres</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF*</ion-label>
      <ion-input  formControlName="cpf" type="text"></ion-input>
      <div *ngIf="formGroup.controls.cpf.errors">
        <p style="color:brown" *ngIf="formGroup.controls.cpf.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RG*</ion-label>
      <ion-input  formControlName="rg" type="text"></ion-input>
      <div *ngIf="formGroup.controls.rg.errors">
        <p style="color:brown" *ngIf="formGroup.controls.rg.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de responsável*</ion-label>
      <ion-input  formControlName="tipo_responsavel" type="number"></ion-input>
      <div *ngIf="formGroup.controls.tipo_responsavel.errors">
        <p style="color:brown" *ngIf="formGroup.controls.tipo_responsavel.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cargo*</ion-label>
      <ion-input  formControlName="cargo" type="text"></ion-input>
      <div *ngIf="formGroup.controls.cargo.errors">
        <p style="color:brown" *ngIf="formGroup.controls.cargo.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input  formControlName="email" type="email"></ion-input>
      <div *ngIf="formGroup.controls.email.errors">
        <p style="color:brown" *ngIf="formGroup.controls.email.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone*</ion-label>
      <ion-input  formControlName="telefone" type="text"></ion-input>
      <div *ngIf="formGroup.controls.telefone.errors">
        <p style="color:brown" *ngIf="formGroup.controls.telefone.errors.required">Campo obrigatório</p>
      </div>
    </ion-item>
    
    <ion-button type="submit" expand="full" [disabled]="!formGroup.valid">Cadastrar</ion-button>
    <ion-button [routerLink]="['./listagem-responsavel']" expand="full">Cancelar</ion-button>
    <ion-button [routerLink]="['./listagem-responsavel']" expand="full">Listagem</ion-button>
  </form>
</ion-content>
